/* Return the Product Numbers AND Path to Navision images */
SELECT [Source No_] AS ProductNo, [Path]
  FROM [Omega-NAV-2009-A].[dbo].[Omega Environmental Tech_$Document List]
  WHERE (([Primary Image]= 1) AND ([Path] IS NOT NULL) AND ([Path] <> ''))
  ORDER BY [Source No_], [Path]
