USE [Omega_BC18_PROD] /* OETSQL01.corp.omega-holdings.com */

/* Return the Product Numbers AND Path to Navision images */
SELECT [Source No_] AS ProductNo, [Path]
  FROM [OAC$Document List$437dbf0e-84ff-417a-965d-ed2bb9650972]
  WHERE (([Primary Image]= 1) AND ([Path] IS NOT NULL) AND ([Path] <> ''))
  ORDER BY [Source No_], [Path]
